<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppScheduler"
        tools:targetApi="34">
        <activity
            android:name=".ui.activities.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
            android:name=".ui.activities.AppSelectionActivity"
            android:exported="false"
            android:label="@string/title_activity_app_selection"
            android:theme="@style/Theme.AppScheduler.NoActionBar" />
        <activity
            android:name=".ui.activities.ScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.AppScheduler.NoActionBar" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
           
        </activity>
    </application>

</manifest>